<a href="https://colab.research.google.com/github/AlinaMidhath/python_fundamentals/blob/main/DS_14_11_24_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: Can uoy read this file /content/mba.csv in R

df <- read.csv("/content/mba.csv")
head(df)

  datasrno workex gmat
1 1         21    720
2 2        107    640
3 3         57    740
4 4         99    690
5 5        208    710
6 6        136    660

In [ ]:
mean(df$gmat)

[1] 711.1643

In [ ]:
View(df)

    datasrno workex gmat
1    1        21    720
2    2       107    640
3    3        57    740
4    4        99    690
5    5       208    710
6    6       136    660
7    7        70    660
8    8       103    710
9    9        79    700
10  10        22    730
11  11        69    700
12  12        41    740
13  13        72    650
14  14        69    720
15  15        20    700
16  16        21    760
17  17        19    710
18  18        86    720
19  19       231    690
20  20        20    770
21  21       175    660
22  22        21    710
23  23        44    720
24  24        23    650
25  25        20    710
26  26        70    720
27  27        46    710
28  28        33    650
29  29       130    690
30  30        57    690
⋮   ⋮        ⋮      ⋮
744 744       94    740
745 745      105    710
746 746       95    710
747 747       43    720
748 748       89    710
749 749       68    730
750 750       46    750
751 751       69    740
752 752       93    710
753 753       60    680
754 754       69    740
755 755       68    740
756 756       46    730
757 757       23    770
758 758       50    720
759 759       33    680
760 760       39    680
761 761       34    740
762 762       69    680
763 763       34    710
764 764       31    710
765 765       29    710
766 766       46    750
767 767       44    620
768 768       38    680
769 769       88    620
770 770      132    670
771 771       28    610
772 772       10    610
773 773       52    620